@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to My ASP.NET Core App!</h1>
<p>ASP.NET Core is fun 🚀</p>
<a asp-controller="Products" asp-action="Index" class="btn btn-primary">Product Management</a>